<!DOCTYPE html>
<html>
<head>
	<title>Scoket.io - Simple chat</title>
	<script src="//cdn.bootcss.com/socket.io/1.3.7/socket.io.min.js"></script>
	<style>
		div {
			border: 1px solid;
			height: 500px;
		}
	</style>
</head>
<body>
	<div id="content"></div>
	<input id="text" />
	<button id="send">发送</button>
	<script>
		var socket = io();
		var text = document.getElementById('text');
		var content = document.getElementById('content');
		document.getElementById('send').onclick = function () {
			socket.send(text.value);
			text.value = '';
		};
		socket.on('open', function () {
			console.log('open');
		});
		socket.on('system', function (json) {
		
			console.log('--------', json);
		});
		socket.on('message', function (json) {
			console.log(json);
		});
	</script>
</body>
</html>